<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE sqlMap PUBLIC "-//iBATIS.com//DTD SQL Map 2.0//EN" "http://www.ibatis.com/dtd/sql-map-2.dtd">

<sqlMap>
	<select id="mp3_album" parameterClass="java.util.HashMap"
		resultClass="java.util.HashMap">
		SELECT
		  t2.id,
		  t2.title,
		  t2.singer,
		  t2.song_file
		FROM td_mp3_album_song t1,
		  td_mp3_song t2
		WHERE t1.is_deleted = '0'
		    AND t1.song_id = t2.id
		    AND t1.album_id = #album_id#
		ORDER BY t1.no desc
	</select> 
 
	<select id="mp3_list" parameterClass="java.util.HashMap"
		resultClass="java.util.HashMap">
		SELECT
		  t.id,
		  t.title,
		  image_file small_image,
		  image_file big_image    
		FROM td_mp3_album t  
		WHERE  t.publish_time &lt; CURRENT_TIMESTAMP
		and t.is_deleted = '0'
		ORDER BY t.no desc
	</select>
	<select id="index_sub" parameterClass="java.util.HashMap"
		resultClass="java.util.HashMap">
		SELECT
		  t1.id           course_id,
		  t1.title,
		  t1.img_file file_path
		FROM td_course t1,
		  td_user_course t2
		WHERE t1.is_deleted = '0'
		    AND t2.is_deleted = '0'
		    AND t1.id = t2.course_id
				ORDER BY t1.no desc
	</select>

	<select id="disc_list" parameterClass="java.util.HashMap"
		resultClass="java.util.HashMap">
		SELECT
		  t1.id,
		  t1.title,
		  t1.content_type,
		  t1.publish_time,
		  t1.small_img_1 small_file_path,/*兼容老的系统*/
		  t1.small_img_1,
		  t1.small_img_2,
		  t1.small_img_3,
		  t1.list_type
		FROM td_disc_article t1
		WHERE t1.is_deleted = '0'
		<isNotEmpty prepend="and" property="key_id">
        exists (select 1 from td_disc_article_key b1 where b1.key_id=#key_id# AND t1.id= b1.article_id)
        </isNotEmpty>      
        AND t1.publish_time &lt; CURRENT_TIMESTAMP 
		ORDER BY t1.publish_time desc
		limit #offset_begin#,#offset_end#
	</select>	
	<!-- (select a1.file_path from td_file a1 where a1.is_deleted = '0' AND t1.small_img_id= a1.id ) small_file_path, -->
	
	<select id="dics_article" parameterClass="java.util.HashMap"
		resultClass="java.util.HashMap">
		SELECT
		  t1.*,
		  a1.file_path filmimg_file_path,
		  a1.file_type filmimg_file_type,
		  article_from
		FROM td_disc_article t1
		  LEFT JOIN td_file a1
		    ON a1.id = t1.filmimg_file_id
		      AND a1.is_deleted = '0'
		WHERE t1.is_deleted = '0'
		    AND t1.id = #id#
	</select>		 
</sqlMap>
